.menu .box_container{
    display: flex;
    flex-wrap: wrap;
}

.menu .box_container .box{
    margin: 10px auto;
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu .box_container .box img{
    width: 100%;
}

.menu .box_container .box h3{
    font-size: 25px;
    margin: 20px 0;
}