header{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background-color: white;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header img{
    width: 30%;
}
header nav{
    margin-left: auto;
}
header nav ul{
    list-style: none;
}
header nav ul li{
    display: inline-block;
}
header nav ul li a{
    text-decoration: none;
    padding: 0 12px;
    display: block;
    font-size: 20px;
    color: black;
}
header nav ul li a:hover{
    color: #be9c79;
    text-decoration: underline;
}

header .menu_btn{
    display: none;
    font-size: 25px;
    color: black;
}



@media screen and (max-width: 500px) {
    header .container nav{
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: 0.5s linear;
    }
    header .container nav.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .container nav ul li{
        display: block;
        margin: 20px 0;
    }

    header .menu_btn{
        display: inline-block;
        transition: 0.5s;
    }

    header .menu_btn.fa-times{
        transform: rotate(180deg);
    }
}